body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header{
  margin: auto;
  padding: auto;
  background-size: cover;
}

.video-wrap {
  position: relative;
  width: 100%;
}  

video {
  display: block; 
  margin: 0 0 0 auto;
  width: 100vw;
}

h1{
  margin: auto;
  color: #eed13f;
  font-size: 300%;
  position: absolute;
  left: calc(50% - 120px);
  top: calc(50% - 120px);
  font-family: cursive
}

.h1{
  color: #eed13f;
  margin: 0 auto;
  left: calc(45% - 120px); 
  top: calc(50% - 37px); 
  position: absolute;
  font-size: 200%;
  font-family: cursive
}

body {
  height: 100%;
  margin: auto;
  background-color: honeydew; 
} 


ul.bodya{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  float: left;
  padding-right: 10px;
  margin: 0 auto;
}

h4{
  color: brown;
  text-align: center;
}

h5{
  font-size: 100%;
}

h6{
  font-size: 100%;
}

footer {
  text-align: center;
  margin: 0 auto;
}

ul.footera{
  display: flex;
  list-style: none;
}

.rinku{
  color: brown;
}

.rinku-1{
  color: brown;
}

.iryou {
  animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1);
}

@keyframes img-wrap {
  0% {
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 50%);
  }
  
  100% {
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}

.iryou-1 {
  animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1);
}

@keyframes img-wrap {
  0% {
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 50%);
  }
  
  100% {
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}