header {
  margin: auto;
  padding: auto;
  background-size: cover;
}

.video-wrap {
  position: relative;
  width: 100%;
}  

video {
  display: block; 
  margin: 0 0 0 auto;
  width: 100vw;
}

h1 {
  margin: auto;
  color: #eed13f;
  font-size: 300%;
  position: absolute;
  left: calc(50% - 120px);
  top: calc(50% - 120px);
  font-family: cursive
}

.h1-2 {
  color: #eed13f;
  margin: 0 auto;
  left: calc(45% - 120px); 
  top: calc(50% - 37px); 
  position: absolute;
  font-size: 200%;
  font-family: cursive
}

body {
  height: 100%;
  margin: auto;
  background-color: honeydew; 
} 

h2.body1 {
  text-align: center;
}

p.body1-2 {
  text-align: center;
}

ul.body2 {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding-right: 10px;
  margin: auto;
  text-align: center;
}

.web-1 {
  animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1);
  width: 50%;
}

@keyframes img-wrap {
  0% {
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 50%);
  }
  
  100% {
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}

.web-text {
  text-align: center;
}

h2.PR {
  text-align: center;
}

ul.PR-1 {
  text-align: center;
}

h2.PR-0 {
  color: red;
}

footer {
  text-align: center;
  margin: 0 auto;
}

ul.footers{
  display: flex;
  list-style: none;
}

.rinku{
  color: brown;
}

.rinku-1{
  color: brown;
}

.twitter-follow-button {
  text-align: center;
}